<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Influencer Djang Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="I:\Influencer\env\Scripts\python.exe|I:\Influencer\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Django Influencer Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Influencer\env\Scripts\python.exe|C:\Influencer\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
