
{% extends 'Normal-User/index.html' %}
{% load static %}
{% block title%}
<title>Influencer Hiring | Packages Details</title>
{% endblock %}
{%block head%}
<div class="header dash-header ">
{%endblock%}
{%block active%}
<li> <a href="/" class="">Home</a> </li>
<li> <a href="/influencers/" class="">Explore</a> </li>
<li> <a href="/blogs/" class="">Blogs</a> </li>
<li> <a href="/webstories/">Web-Stories</a> </li>
<li> <a href="/casting-call/">Casting Call</a> </li>
<li> <a href="/whitepaper/" class="">White Paper</a> </li>
{%endblock%}


{% block body %}

<section class="influncr_package py-5">
  <div class="container">
      <div class="package_influncer_detail">
          <div class="row">
              <div class="col-lg-8">
                  <div class="row">
                      <div class="col-lg-3 mobile_center">
                          <div class="index-banner-img pe-5 d-inline-block">
                            <img src="/media/{{info.profileimage1}}" alt="{{info.fullname}}" class="img-fluid">
                          </div>
                      </div>
                      <div class="col-lg-8 heading-center-mobile">
                          <h2 id="wish-video" class="sub_heading mb-3">
                            <span class="main-color position-relative">Paying to </span> <p>{{info.fullname}}</p>
                          </h2>
                          <p>{{info.short_description}}</p>
                          <input type="hidden" id="infouser" name="infouser" value="{{info.influencer_userid}}"/>
                          <input type="hidden" id="bplanid" name="bplanid" value="{{vdct.planid}}"/>
                            <input type="hidden" id="bserviceid" name="bserviceid" value="{{vdct.serviceid}}"/>
                      </div>
                  </div>

                  <div class="booking_form p-3 bg-white rounded-5 shadow">
                    <div class="row align-items-center">
                      <div class="col-lg-5">
                        <img src="/media/Video call_cc.webp" alt="Video Call" class="img-fluid">
                      </div>
                      <div class="col-lg-7">
                        <form action="/action_page.php">
                          <h3 class="fw-bold mb-3" id="vcprice">{{cur}} {{vdct.increasedprice}} Per Minute </h3>
                          <div class="mb-3">
                            <label for="selecteddate1"  class="main_label">Date: </label>
                                {% comment %} <div id="datepicker" class="input-group date" data-date-format="yyyy-mm-dd">
                                    <input class="form-control" type="date" onchange="filterdates()" value="" id="selecteddate" />
                                    <span class="input-group-addon">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </div> {% endcomment %}

                                <select id="selecteddate1" name="selecteddate1" class="form-select" onchange="filterdates({{info.influencer_userid}});removecode();">
                                  <option value="">--Select-Date--</option>
                                   {%for i in ddates1%}
                                  <option value="{{i|date:"Y-m-d"}}">{{i|date:"d M Y"}}</option>
                                 {%endfor%} 
                                 
                                 {% comment %} {%for i in ddates%}
                                 <option value="{{i.0|date:"Y-m-d"}}">{{i.1}} </option>
                                 {%endfor%} {% endcomment %}
                                </select>

                        </div>
                        <div class="mb-3">
                          <label for="time" class="main_label" id="durationfield">Available Slot Timings :</label>
                          <select id="time" name="time" class="form-select" onchange="filtertime({{taxpr}});removecode();">
                            <option value="0">--Select-Time--</option>
                            {% comment %} {%for i in sdet%}
                            <option value="{{i.subslotid}}">{{i.starttime|date:"h:i:s A"}}-{{i.endtime|date:"h:i:s A"}}</option>
                            
                            {%endfor%} {% endcomment %}
                          </select>
                      </div>
                          {% comment %} <div class="mb-3">
                              <label for="duration" class="text--base">Duration :</label>
                              <select id="duration" name="duration" class="form-select" onchange="filterdates()">
                                <option value="">--Select-Duration--</option>
                                {%for i in sdet%}
                                <option value="{{i.slotduration}}">{{i.slotduration }}</option>
                                {%endfor%}
                              </select>
                          </div> {% endcomment %}
                         

                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" onchange="filterrecord({{taxpr}});removecode();">
                            <label class="form-check-label fw-normal add_price-check" for="flexCheckDefault" id="repr">
                              Add a recording of your meet & greet to share on social media? ({{cur}} 0)
                            </label>
                          </div>


                        <script>
                          function filterdates(id=null){
                            var selecteddate=document.getElementById("selecteddate1").value;
                            $('#time').empty();

                                $.ajax({
                                    type:'POST',
                                    url:'{% url "VideochatPrice" %}',
                                    headers: {
                                      'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                                  },
                                    data:
                                    {
                                      selecteddate:selecteddate,
                                      infoid:id,
                                    
                                 
                                      //csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                    },
                                    success: function(response){
                                      console.log("Rahul");
                                      


                                      var opt = new Option('--select-time--',0);
                                      $('#time').append(opt);
                                      for (var key in response){

                                        console.log("Lkey");
                                        console.log(key);
                                        console.log("Lenght of the response");
                                        console.log(response[key].length);
                                        
                                        for (var i=0; i<response[key].length;i++)
                                        {
                                          console.log("values");
                                          console.log(response[key][i]);
                                          console.log(response[key][i]['subslotid']);
                                          console.log(response[key][i]['starttime_formatted']);
                                          console.log(response[key][i]['endtime_formatted']);
                                          total=response[key][i]['starttime_formatted']+"-"+response[key][i]['endtime_formatted'];
                                          console.log("Total");
                                          console.log(total);
      
                                        
                                          var opt1 = new Option(total,response[key][i]['subslotid']);
                                          $('#time').append(opt1);
                                        }
                                      }
                                      
                          
                                            


                            
                                  
                        
                                    }
                                   
                                    })
                            };
                        
                        




                            function filtertime(tax=null){


                             var time=document.getElementById("time").value;

  
                                  $.ajax({
                                      type:'POST',
                                      url:'{% url "Videochattime" %}',
                                      headers: {
                                        'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                                    },
                                      data:
                                      {

                                        time:time,


                                      },
                                      success: function(response){
                                        console.log("Rahul");
                                        
                                        console.log(response['recprice']);
                                        var prepr1=document.getElementById("vcprice").innerHTML;
            
                                        var sliced1 = prepr1.slice(0, 4);
                                        document.getElementById("repr").innerHTML=`Add a recording of your meet & greet to share on social media? (`+sliced1+` `+response['recprice']+`)`;

                                        for (var key in response){
                                          if (key==='results'){
                                          console.log("Lkey");
                                          console.log(key);
                                          console.log("Lenght of the response");
                                          console.log(response[key].length);

                                          for (var i=0; i<response[key].length;i++)
                                          {
                                            console.log("values");
                                            console.log(response[key][i]);
                                            console.log(response[key][i]['subslotid']);
                                            console.log("time");
console.log(time);
          if(response[key][i]['subslotid']===parseInt(time)){
            console.log("changes price");
            var prepr=document.getElementById("vcprice").innerHTML;
            console.log(prepr);
            var sliced = prepr.slice(0, 4);
            var price=response[key][i]['slotprice'];
            var total=sliced+price.toString();
                    document.getElementById("vcprice").innerHTML=total+" Slot Price";
                    document.getElementById("bcpr").innerHTML=total;
            var othercharges=0;
            total=price+othercharges;
            var taxamount=total * (tax/100);
            taxamount=Math.ceil(taxamount * 100) / 100;
            var grandtotal=total+taxamount;

                                    grandtotal=Math.ceil(grandtotal).toFixed(2);

            taxamount=sliced +" "+ taxamount.toString();
            grandtotal=sliced +" "+ grandtotal.toString();
            othercharges=sliced+" "+othercharges.toString();
            console.log("Tax");
console.log(taxamount);
console.log(grandtotal);
console.log("grandtoatal");
            document.getElementById("orcs").innerHTML=othercharges;
            document.getElementById("taxamt").innerHTML=taxamount;
            document.getElementById("gtotol").innerHTML=grandtotal;
            const timeStr = response[key][i]['slotduration'];
const timeArr = timeStr.split(':');
const hours = parseInt(timeArr[0], 10);
const minutes = parseInt(timeArr[1], 10);
const seconds = parseInt(timeArr[2], 10);

const totalMinutes = (hours * 60) + minutes + (seconds / 60);
            
            document.getElementById("durationfield").innerHTML=`Available Slot Timings : `+totalMinutes+` minutes slot duration`;

         


}

                                            console.log(response[key][i]['slotprice']);
                                           
        
                                          } 
                                        }
                                        
                                       
  
                                        
                                              
  
  
                                          
                                    
                          
                                      }
                                    }
                                     
                                      })
                              };
                          
                        
                              function filterrecord(tax=null){
                                var time=document.getElementById("time").value;
                                var record=document.getElementById("flexCheckDefault");
                                if (record.checked) {
                                  record =record.value;
                                  console.log("Rahul");
                                  console.log(record);
                               }
                               else{
                                 record=false;
                               }
       
     
                                     $.ajax({
                                         type:'POST',
                                         url:'{% url "Videochatrecord" %}',
                                         headers: {
                                           'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                                       },
                                         data:
                                         {
                                          time:time,
                                          record:record,
   
   
                                         },
                                         success: function(response){
                                           console.log("Rahul");
                                           console.log(response['recprice']);
     var price=document.getElementById("bcpr").innerHTML;
     var cur=price.slice(0, 4);
     price=price.slice(4,);
     price=parseInt(price, 10);
     console.log('price upfate');
     console.log(price);
     document.getElementById("orcs").innerHTML=cur+" "+response['recprice'];

     total=price+parseInt(response['recprice'], 10);
     var taxamount=total * (tax/100);
     taxamount=Math.ceil(taxamount * 100) / 100;
     var grandtotal=total+taxamount;

                                    grandtotal=Math.ceil(grandtotal).toFixed(2);

     taxamount=cur +" "+ taxamount.toString();
     grandtotal=cur +" "+ grandtotal.toString();

     console.log("Tax");
console.log(taxamount);
console.log(grandtotal);
console.log("grandtoatal");

     document.getElementById("taxamt").innerHTML=taxamount;
     document.getElementById("gtotol").innerHTML=grandtotal;          
     
                                           
                                                 
     
     
                                             
                                       
                             
                                         }
                                        
                                         })
                                 };
                             
                           



                       
function redirecttourl(url){
  window.location.href=url;
} 
                        
                                            </script>


                          <div class="guiz-awards-buttons p-0 py-3">
                          </div>

                        </form>
                      </div>
                    </div>
                      
                  </div>

               
                   <!-- <h3 class="mt-4 mb-2">Refund Policy</h3> -->
                   <div class="card p-3 mt-4 rounded-5 border-0 refund-card">
                    <p class=""><span class="main-color fw-bold fs-5">{{refund.0.Title}}</span> {{refund.0.Description |safe}}</p>
                </div>



              </div>
              <div class="col-lg-4">
                  <div class="quiz-window">
                    <div class="quiz-window-header">
                      <h5 class="footer-widget__title text-white ms-1">Chat with Influencer</h5>
                    </div>
                    <div class="quiz-window-body">
                      <div class="gui-window-awards">
                        <ul class="guiz-awards-row guiz-awards-row-even">
                          <li class="guiz-awards-title">Price :</li>
                          <li class="guiz-awards-track" id="bcpr">{{cur}} 0</li>
                        </ul>
                        <ul class="guiz-awards-row guiz-awards-row-even">
                          <li class="guiz-awards-title">Other Charges :</li>
                          <li class="guiz-awards-track" id="orcs">{{cur}} 0</li>
                        </ul>
                        <ul class="guiz-awards-row guiz-awards-row-even">
                          <li class="guiz-awards-title">Tax :</li> 
                          {% comment %} (+{{taxpr}}%) {% endcomment %}
                          <li class="guiz-awards-track" id="taxamt">{{cur}} 0</li>
                        </ul>
                       
                        <ul class="guiz-awards-row guiz-awards-row-even d-flex justify-content-between">
                          <li class="guiz-awards-title me-2">
                            {% csrf_token %}
                            <input type="text" name="couponcode" id="couponcode" class="form-control" placeholder="Gift card or discount code"></li>
                          <li class="guiz-awards-track apply_code">
                              <input type="button" class="btn btn-block btn--outline-base" onclick="filter1();" id="submitUpdatePledge" value="Apply">
                              <input type="hidden" id="coupused" name="coupused" value='true'/>
                          </li>
                        </ul>
                        <ul class="guiz-awards-row guiz-awards-row-even total-Payble">
                          <li class="guiz-awards-title fw-bold">Amount Payable :</li>
                          <li class="guiz-awards-track fw-bold" id="gtotol">{{cur}} 0</li>
                        </ul>
                        <ul class="guiz-awards-row guiz-awards-row-even" id="saveline">
                          <li class="guiz-awards-title text saving_heading">You have to apply couponcode for total savings on this order.</li>
                        </ul>
                      </div>
                  
                    </div>
                  </div>


                  <script>

                    function refreshgateways(){
                      var maleRadio = document.getElementById("CC-1");
                    
                    // Set the 'checked' property to false to uncheck the radio button
                    maleRadio.checked = "";
                    ////var maleRadio1 = document.getElementById("CC-2");
                    
                    // Set the 'checked' property to "" to uncheck the radio button
                    //maleRadio1.checked = true;
                    var maleRadio2 = document.getElementById("CC-0");
                    
                    // Set the 'checked' property to "" to uncheck the radio button
                    maleRadio2.checked = "";
                    }


                    function removecode(){
                      document.getElementById("couponcode").value = '';
                      document.getElementById("saveline").innerHTML='<li class="guiz-awards-title text saving_heading" >You have to apply couponcode for total savings on this order.</li>';
                    }

                    function filter1(){
                      refreshgateways();
                        var ser=document.getElementById("couponcode").value;
                        var bserviceid =document.getElementById("bserviceid").value;
                        if (document.getElementById("coupused").value==='true'){
                            $.ajax({
                                type:'POST',
                                url:'{% url "package" %}',
                                headers: {
                                  'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                              },
                                data:
                                {
                                    coupon:ser,
                                    serid:bserviceid,
                               //   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(response){
                                  console.log("Rahul");
                                  console.log(response['results']);
                    
                                  
                                  var total=document.getElementById("gtotol").innerHTML;
                                  var cur=total.slice(0,3);
                                  var rup=parseFloat(document.getElementById("bcpr").innerHTML.slice(4,))+parseFloat(document.getElementById("orcs").innerHTML.slice(4,))+parseFloat(document.getElementById("taxamt").innerHTML.slice(4,));
                                  console.log("rupeesssssssssss");
                                  console.log(rup);

                                  rup=Math.ceil(rup);
                                  var dis=rup * (response['results']/100);
                                  if (response['results']===0){
                                    document.getElementById("saveline").innerHTML='<li class="guiz-awards-title text-danger saving_heading" >Your have already used this couponcode.</li>';
                                  }
                                  else if(response['results']===-2){
                                    
                                    document.getElementById("saveline").innerHTML='<li class="guiz-awards-title text-danger saving_heading" >Your have applied expired couponcode.</li>';
                                    
                                  }
                                  else if(response['results']===-3){
                                    
                                    document.getElementById("saveline").innerHTML='<li class="guiz-awards-title text-danger saving_heading" >Your have applied wrong couponcode.</li>';
                                   
                                  }
                                  else if(response['results']===-4){
                                    
                                    document.getElementById("saveline").innerHTML='<li class="guiz-awards-title text-danger saving_heading" >Your have applied couponcode exceeded the upper limit.</li>';
                                   
                                  }
                                  else {
                                    
                                    
                                    console.log("amount");
                                    console.log(dis);

                                    dis=Math.ceil(dis * 100) / 100;
                                    console.log("dis amount");
                                    console.log(dis);
                                    var grandtotal=parseInt(rup)-dis;
                                    console.log('grandtotal');
                                    console.log(grandtotal);
                                    grandtotal=Math.ceil(grandtotal * 100) / 100;
                                    dis=cur +" "+ dis.toString();
                                    grandtotal=cur +" "+ grandtotal.toString();
                                    console.log('total');
                                    console.log(total);
                                    console.log("discount");
                                    console.log(dis);
                                    console.log('grandtotal');
                                    console.log(grandtotal);
                                    document.getElementById("gtotol").innerHTML=grandtotal;
                                    document.getElementById("saveline").innerHTML='<li class="guiz-awards-title text-success saving_heading" >Your Total Savings on this order '+dis+'</li>';
                      
                                  }
                                 
                                  //getpaymentmethod();
                    
                                }
                               
                               
            })
          }
    };

                    
                    
     
                                        </script>




                  <div class="payment_mode mt-4">
                    <!--  <h5 class="footer-widget__title fs-4 text--base ms-1 mb-sm-3 mb-2 pb-1"></h5> -->
                         <div class="row">
                             <div class="quiz-window-header">
                                 <h5 class="footer-widget__title text-white ms-1">Payment Methods</h5>
                               </div>
                             <div class="col-md-12" >
                                 <div class="radio form-group" >
                                     <div class="d-flex" onclick="refreshbutton();">
                                         <input id="CC-0" type="radio" name="availPayment" value="PayPal" >
                                         <label for="CC-0" class="ms-2">PayPal</label>
                                     </div>
                                     <img src="{%static 'images/paypal.png'%}" alt="paypal" class="img-fluid">
                                 </div>
                                 
                                 <div class="radio form-group" >
                                     <div class="d-flex" onclick="refreshbutton();">
                                         <input id="CC-1" type="radio" name="availPayment" value="Credit / Debit Card (Stripe)" checked >
                                         <label for="CC-1" class="ms-2">Credit / Debit Card</label>
                                     </div>
                                     <img src="{%static 'images/strip.png'%}" alt="paypal" class="img-fluid">
                                 </div>
                                 
                                 <div class="radio form-group" >
                                     <div class="d-flex" onclick="refreshbutton();">
                                         <input id="CC-2" type="radio" name="availPayment" value="UPI Payment" disabled >
                                         <label for="CC-2" class="ms-2">UPI Payments</label>
                                     </div>
                                     <img src="{%static 'images/upi-payment.png'%}" alt="UPI" class="img-fluid">
                                 </div>
                                 
                                  <div class="radio form-group" >
                                  <div class="d-flex" >
                                      <input id="CC-3" type="checkbox" value="Wallet" onclick="freshvalue();refreshbutton();disableother();" >
                                      <label for="CC-3" class="mx-2">Wallet</label>
    
                                      <span>{{request.user.clientpayout.currency}} {{request.user.clientpayout.remaining_balance_bank}}</span>
    
                                  </div>
                                  <img src="{%static 'images/wallet.jpg'%}" alt="wallet" class="img-fluid">
                              </div>

                                 
                                 <div class="guiz-awards-buttons p-0 pb-3">
                                   <button type="button"  class="btn btn-block btn--outline-base" id="checkout-button" > Pay Now </button>
                                 </div>
                             </div>
                         </div>
                    </div>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script type="text/javascript">
                  
                      
function freshvalue(){
  var maleRadio = document.getElementById("CC-1");
    
    // Set the 'checked' property to false to uncheck the radio button
    maleRadio.checked = "";
    ////var maleRadio1 = document.getElementById("CC-2");
    
    // Set the 'checked' property to "" to uncheck the radio button
 //   maleRadio1.checked = "";
    var maleRadio2 = document.getElementById("CC-0");
    
    // Set the 'checked' property to "" to uncheck the radio button
    maleRadio2.checked = "";
}


function disableother(){
  wallamt = '{{request.user.clientpayout.remaining_balance_bank}}';
  var reqamt = 0;
  reqamt = parseFloat(document.getElementById("gtotol").innerHTML.slice(4,));
  

  var walletck = document.getElementById('CC-3');


  if (walletck.checked) {

  if (wallamt >= reqamt) {

  var maleRadio = document.getElementById("CC-1");
    
    // Set the 'checked' property to false to uncheck the radio button
    maleRadio.disabled = true;
    ////var maleRadio1 = document.getElementById("CC-2");
    
    // Set the 'checked' property to "" to uncheck the radio button
    //maleRadio1.disabled = true;
    console.log('rahualcczx csdfradio ');

  }

 
}
else
{
  var maleRadio = document.getElementById("CC-1");
  
  // Set the 'checked' property to false to uncheck the radio button
  maleRadio.disabled = false;
  ////var maleRadio1 = document.getElementById("CC-2");
  
  // Set the 'checked' property to "" to uncheck the radio button
  //maleRadio1.disabled = false;
}

}



            
function wallchnage(){
  var walletid = 0;
var wallamt = 0;
  var buttonClicked = false; 
  walletid = `{{request.user.clientpayout.payoutid}}`;
  wallamt = '{{request.user.clientpayout.remaining_balance_bank}}';
  var reqamt = 0;
  reqamt = parseFloat(document.getElementById("gtotol").innerHTML.slice(4,));
  
  if (wallamt >= reqamt) {


              // Your custom click event handler code here
              var infoid = document.getElementById("infouser").value;
              var bserviceid = document.getElementById("bserviceid").value;
              var bplanid = document.getElementById("bplanid").value;
              var othercharges = document.getElementById("orcs").innerHTML;
              var subid=document.getElementById("time").value;

              othercharges = othercharges.slice(4);

              $.ajax({
                  type: 'POST',
                  url: '{% url "Walletpurchase" %}',
                  headers: {
                      'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                  },
                  data: {
                      walletid: walletid,
                      infoid: infoid,
                      bserviceid: bserviceid,
                      bplanid: bplanid,
                      othercharges: othercharges,
                      subslotid:subid,
                     
                      
                  },
                  success: function(response) {
                      console.log("Rahul");
                      console.log(response);

                      if (response['results'] === 'ok') {
                          redirecttourl('/payment-wallet-success/');
                      }
                  }
              })

              console.log('Button clicked with new id!');
     
  }
  else{
    console.log('2');

    console.log('You have insufficient balance to process your order.');

    var method = document.querySelector('input[name="availPayment"]:checked');

    console.log(method);
    if (method === null) {
      // The value is null
      console.log('You have not selected another option');

      alert('You have minimum balance in your wallet, select another method with wallet to use it.');
    }

    else{

      method= method.value;



    if (method === 'PayPal')

    {
      
      var maleRadio = document.getElementById("CC-1");

// Set the 'checked' property to false to uncheck the radio button
maleRadio.checked = "";
////var maleRadio1 = document.getElementById("CC-2");

// Set the 'checked' property to "" to uncheck the radio button
//maleRadio1.checked = "";
method="";
      
var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {


     var radioButton = document.getElementById("CC-1");
    // radioButton.checked = false;
     var infoid = document.getElementById("infouser").value;
     var bserviceid =document.getElementById("bserviceid").value;
     var bplanid=document.getElementById("bplanid").value;
     var othercharges=document.getElementById("orcs").innerHTML;
     var subid=document.getElementById("time").value;

window.location.href = `https://www.influencerhiring.com/paypalbutton/?infoid=${infoid}&bserviceid=${bserviceid}&bplanid=${bplanid}&othercharges=${othercharges}&subslotid=${subid}`; 

  });
  
    }
  
    
  
  
  
  
   else if (method === 'Credit / Debit Card (Stripe)')
  {

    
    var stripe = Stripe('pk_live_51MZ69BSEqjetbOctzEJCbXdu63iFQGlF3cQiNRpNMnLvlIj93QWzz6QjO6GYucIbsp4b1xGKjfH33jscYIFSn3KD00SrlrQRaa');
   
      var radioButton = document.getElementById("CC-1");
      //radioButton.checked = false;
      var infoid = document.getElementById("infouser").value;
      var bserviceid =document.getElementById("bserviceid").value;
      var bplanid=document.getElementById("bplanid").value;
      var othercharges=document.getElementById("orcs").innerHTML;

      var subid=document.getElementById("time").value;
                        console.log("price");
                        console.log(subid);
                       
                                data={
                                  'infoid':infoid,
                                  'bserviceid':bserviceid,
                                  'bplanid':bplanid,
                                  'othercharges':othercharges,
                                  'subslotid':subid,
                                  'walletid':walletid,
                                }
  
  
  
              fetch('/create-checkout-session/', {
                method: 'POST',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify(data),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
              })
              .then(function(response) {
  
                return response.json();
              })
              .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
              })
              .then(function(result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                  alert(result.error.message);
                }
              })
              .catch(function(error) {
                console.error('Error:', error);
              });
          
  }

  }
}
}
function refreshbutton(){
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.disabled = false;
}

                    
                    //function getpaymentmethod(){
                      
                      var checkoutButton = document.getElementById('checkout-button');




                checkoutButton.addEventListener('click', function() {
            
            
                    checkoutButton.disabled = true;
                
            
            
                    var method1 = document.querySelector('input[name="availPayment"]:checked');
            
                    if (method1) {
                        var method = method1.value;
            
                        console.log("Method");
                        console.log(method);
                      var walletck = document.getElementById('CC-3');
                      var walletid = 0;
                      
                      // Flag to track button click
                      
                      if (walletck.checked) {
//                        freshvalue();
                        wallchnage();
                        console.log("3");
                      
                      } else {
                          walletid = 0;
                          console.log('Checkbox is not checked');
                      
                      
                      

                      if (method === 'PayPal')
  { 

     var radioButton = document.getElementById("CC-1");
    // radioButton.checked = false;
     var infoid = document.getElementById("infouser").value;
     var bserviceid =document.getElementById("bserviceid").value;
     var bplanid=document.getElementById("bplanid").value;
     var othercharges=document.getElementById("orcs").innerHTML;
     var subid=document.getElementById("time").value;

window.location.href = `https://www.influencerhiring.com/paypalbutton/?infoid=${infoid}&bserviceid=${bserviceid}&bplanid=${bplanid}&othercharges=${othercharges}&subslotid=${subid}`; 

 

  }

                    
                    if (method === 'Credit / Debit Card (Stripe)'){
                      console.log("Barawl");
                      var stripe = Stripe('pk_live_51MZ69BSEqjetbOctzEJCbXdu63iFQGlF3cQiNRpNMnLvlIj93QWzz6QjO6GYucIbsp4b1xGKjfH33jscYIFSn3KD00SrlrQRaa');
                     
                        // Create a new Checkout Session using the server-side endpoint you
                        // created in step 3.
                        var radioButton = document.getElementById("CC-1");
                        
                        var infoid = document.getElementById("infouser").value;
                        var bserviceid =document.getElementById("bserviceid").value;
                        var bplanid=document.getElementById("bplanid").value;
                        var othercharges=document.getElementById("orcs").innerHTML;
                        var subid=document.getElementById("time").value;
                        console.log("price");
                        console.log(subid);
                       
                                data={
                                  'infoid':infoid,
                                  'bserviceid':bserviceid,
                                  'bplanid':bplanid,
                                  'othercharges':othercharges,
                                  'subslotid':subid,
                                  'walletid':walletid,
                                }
                    
                    
                    
                                fetch('/create-checkout-session/', {
                                  method: 'POST',
                                  headers: {'Content-type': 'application/json'},
                                  body: JSON.stringify(data),
                                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                })
                                .then(function(response) {
                                  //radioButton.checked = false;
                                  return response.json();

                                })
                                .then(function(session) {
                                  return stripe.redirectToCheckout({ sessionId: session.id });
                                })
                                .then(function(result) {
                                  // If `redirectToCheckout` fails due to a browser or network
                                  // error, you should display the localized error message to your
                                  // customer using `error.message`.
                                  if (result.error) {
                                    alert(result.error.message);
                                  }
                                })
                                .catch(function(error) {
                                  console.error('Error:', error);
                                });
                            
                            }
                            if (method === 'UPI Payment') {

                              console.log("egasdfhadfda", method);
              
              
              
                          
                             
                             }
                          }
                         }
                          else{
                        
                            console.log('You have no select an option');


                            var walletck = document.getElementById('CC-3');
                            var walletid = 0;
                
                            // Flag to track button click
                
                            if (walletck.checked) {
                
                             // freshvalue();
                
                                wallchnage();
                
                                console.log("3");
                
                            }

                          }
                        });
  
                        
                      //}
                        
                          
                        
                        window.onload = diableradio;

                                              
function diableradio(){
 
  var role='{{request.user.roles}}';

  var county=null;
  if (role=='client'){
    county='{{request.user.clientprofile.country}}';

  }
  else if(role=='agency'){
    county='{{request.user.agencyprofile.country}}';



  }
  else{
    county='{{request.user.influencerprofile.country}}';

  }

  if(county==='India')
{
  var radio = document.getElementById('CC-0');
        radio.disabled = true;
  console.log("inner rahul execute");
  console.log(county);
}

else if(county==='None' ||  county===null ||  county==='')
{
  
  console.log("inner rahul execute");
  console.log(county);
  
}
else{
  var radio = document.getElementById('CC-2');
        radio.disabled = true;
}



console.log("outer rahul execute");
}
                    </script>
                  <div class="card card_options border-0 mt-4">
                      <div class="quiz-window-header">
                          <h5 class="footer-widget__title text-white ms-1">What Happen When I Purchase a Package?</h5>
                        </div>
                      <div class="card-body">
                          <div class="step_list">
                               <ul id="progressbar">
                                  <li id="account"><i class="fas fa-check"></i> <strong>Place Order</strong></li>
                                  <li id="personal"><i class="fas fa-comments"></i><strong>Chat With Influencer</strong></li>
                                  <li id="payment"><i class="fas fa-thumbs-up"></i><strong>Receive Content</strong></li>
                              </ul>
                              <p class="text-center pe-0">If the seller doesn't respond in 7 days, the order will be automatically cancelled and your payment will be refunded in wallet.</p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      


  </div>
</section>

<script>


  function switchcart() {
    prebody.innerHTML=postbody.innerHTML;
    var x=document.getElementById("postbody");
    var y=document.getElementById("prebody");
  }


    function delwishlist(id){
      switchcart();
    
      $('#usercart').empty();
      $.ajax({
          type:'POST',
          url:'{% url "delmywhishlist" %}',
          data:
          {
            id:id,
            
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function(response){
            console.log("Rahul");
            console.log(response);
            for (var key in response){
              console.log("Lkey");
              console.log(key);
              console.log("Lenght of the response");
              console.log(response[key].length);
                
if (response[key].length===0){
  var html1="";
  html1+=`
  <div class="cart-empty-content d-block">
                <img src="{%static 'images/wish_empty.webp'%}" class="cart-empty-img" alt="wishlist_empty_img" loading="lazy">
                <p class="empty-heading">Wishlist  Empty add your Favourite Influencers ..</p>
                <p class="cart-choice">Your Cart is empty add Influencers to it Now </p>
                <a href="/" target="_blank" class="explore-celeb-btn">Explore Influencers</a>
              </div>
              `
              $('#usercart').append(html1);
            }
            else{



                      for (var i=0; i<response[key].length;i++)
                      {
                        console.log("values");
                        console.log(response[key][0]);
                        var html="";
                        html+=`
                        <div class="row m-0 fadeout-box full-cart-div">
                          <div class="cart-box d-flex flex-wrap">
                            <div class="row">
                              <div class="col-3 p-0">
                              <div class="celeb-cart enter-booking-details">
                                <a href="/influencer/`+response[key][i][8]+`">
                                  <img src="/media/`+response[key][i][5]+`" alt="image" class="celeb-cart-img img-fluid">
                                </a>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="celeb-cart-detail">
                                <h3 class="cart-celeb-name enter-booking-details">`+response[key][i][0]+`</h3>
                                <div class="celeb-occasion-detail occasion-bottom d-flex mt-2 enter-booking-details">
                                  <div class="cart-occasion">
                                    <p class="cart-subheading">`+response[key][i][2]+`</p>
                                  </div>
                                </div>
                                <div class="celeb-prize-sec d-flex">
                                  <p class="celeb-amount">`+response[key][i][1]+`</p>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="col-12 prime-applied-div">
                            <div class="coupen-code-sec">
                              <div class="coupen-code-div">
                                <p class="coupen-text">Starts from </p>
                                <p class="coupen-chip">₹`+response[key][i][3]+`</p>
                              </div>
                              <div class="coupen-prize-div">
                              <a href="javascript:checkwishlist(`+response[key][i][6]+`);"><img src="{%static 'images/Dustbin_Red.png'%}" alt="image" class="cart-delete-icon"></a>
                                </div>
                             
                            </div>
                          </div>
                         
                        </div>
                        `
                        $('#usercart').append(html);
                      }
                    }
                    }
          }
          })
        };

        
    function switchcart1() {
      prebody1.innerHTML=postbody2.innerHTML;
    }
  
    function delcart(id){
      switchcart1();
      
      $('#usercart3').empty();
      $.ajax({
          type:'POST',
          url:'{% url "delmycart" %}',
          data:
          {
            id:id,
           
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function(response){
            console.log("Rahul");
            console.log(response);
            for (var key in response){
              console.log("Lkey");
              console.log(key);
              console.log("Lenght of the response");
              console.log(response[key].length);
             
              if (response[key].length===0){
                var html1="";
                html1+=`
                <div class="cart-empty-content d-block">
                  <img src="{%static 'images/cart_empty.webp'%}" class="cart-empty-img" alt="cart_empty_img" loading="lazy">
                  <p class="empty-heading">Cart Empty add Influencers ..</p>
                  <p class="cart-choice">Your Cart is empty add Influencers to it Now </p>
                  <a href="/" target="_blank" class="explore-celeb-btn">Add Influencers</a>
                </div>
                            `
                            $('#usercart3').append(html1);
                          }
                          else{


                      for (var i=0; i<response[key].length;i++)
                      {
                        console.log("values");
                        console.log(response[key][0]);
                        var html="";
                        html+=`
                        <div class="row m-0 fadeout-box full-cart-div">
                          <div class="cart-box d-flex flex-wrap">
                            <div class="row">
                              <div class="col-3 p-0">
                              <div class="celeb-cart enter-booking-details">
                                <a href="/influencer/`+response[key][i][8]+`">
                                  <img src="/media/`+response[key][i][5]+`" alt="image" class="celeb-cart-img img-fluid">
                                </a>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="celeb-cart-detail">
                                <h3 class="cart-celeb-name enter-booking-details">`+response[key][i][0]+`</h3>
                                <div class="celeb-occasion-detail occasion-bottom d-flex mt-2 enter-booking-details">
                                  <div class="cart-occasion">
                                    <p class="cart-subheading">`+response[key][i][2]+`</p>
                                  </div>
                                </div>
                                <div class="celeb-prize-sec d-flex justify-content-between align-items-center">
                                  
                                  <p class="celeb-amount">`+response[key][i][1]+`</p>
                                  <a href="/influencer/`+response[key][i][8]+`/" class="continue-btn mt-2">Continue</a>
                                  
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="col-12 prime-applied-div">
                            <div class="coupen-code-sec">
                              <div class="coupen-code-div">
                                <p class="coupen-text">Starts from </p>
                                <p class="coupen-chip">`+response[key][i][6]+` `+response[key][i][3]+`</p>
                              </div>
                              <div class="coupen-prize-div">
              <a href="javascript:delcart(`+response[key][i][7]+`);"><img src="{%static 'images/Dustbin_Red.png'%}" alt="image" class="cart-delete-icon"></a>
                                </div>
                            </div>
                          </div>
                        </div>
                        `
                        $('#usercart3').append(html);
                      }
                     
                    }
                  }
    
          }
          })
        };
  
  
  
      </script>
     
    
  {% endblock %}


