
{% extends 'Normal-User/index.html' %}
{% load static %}

{% block title%}
{% if request.path == '/blogs/' %}
	{% for i in Seo1 %}
	{% if i.page.pagename == 'Blogs'%}
<title>{{i.title}}</title>
<meta name="title" content="{{i.title}}">
<meta name="description" content="{{i.description}}">
<meta name="keywords" content="{{i.keyword}}">
<link rel="stylesheet" href="{%static 'css/blog.css'%}">
{% endif %}
{%endfor%}
{%else%}
  <title>{{blcate.page_title}}</title>
  <meta name="title" content="{{blcate.page_title}}">
  <meta name="description" content="{{blcate.meta_description}}">
  <meta name="keywords" content="{{blcate.keywords}}">
{%endif%}
{% endblock %}



{% block canonical%}
<link rel="canonical" href="https://www.influencerhiring.com/webstories/">
{%endblock%}

{%block head%}
<div class="header dash-header ">
{%endblock%}
{%block active%}
          <li> <a href="/" class="">Home</a> </li>
          <li> <a href="/influencers/" class="">Explore</a> </li>
          <li> <a href="/blogs/" class="">Blogs</a> </li>
          <li> <a href="/webstories/" class="active">Web Stories</a> </li>
          <li> <a href="/casting-call/">Casting Call</a> </li>
          <li> <a href="/whitepaper/" class="">White Paper</a> </li>
          {%endblock%}

{% block body %}
   
<style>

  .stories_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 15px;
    margin-bottom: 15px;
  }
  .stories_list .card-xl-stretch a:after {
    z-index: 1;
    top: 8px;
    content: "";
    position: absolute;
    background: linear-gradient(to right,#A5A5A5 80%,rgba(255,255,255,0) 0);
    background-position: bottom;
    background-repeat: repeat-x,repeat-y;
    background-size: 16.6px 2px,1px 10px;
    width: calc(100% - 26px);
    height: 2px;
    left: 10px;
    right: 10px;
  }
  .stories_list .card-xl-stretch a:before {
    z-index: 1;
    top: 15px;
    content: '';
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url(/media/images/share.png);
    background-size: contain;
    filter: brightness(0) invert(1);
  }
  .blog_home .fs-4 {
    font-size: 1.2rem!important;
    font-family: 'Varela Round';
  }
  .text-hover-primary:hover {
      transition: color .2s;
      color: #ff2d7b!important;
  }
  .webstories a.card-rounded img {
      max-width: 230px;
      min-height: 320px;
      object-fit: cover;
  }

 @media(max-width:767px){
  .stories_list {grid-template-columns: 1fr 1fr;grid-gap: 10px;}.webstories a.card-rounded img {max-width: 100%;min-height: 200px;}
 }

</style>   

<section class="pt-3 pb-5 grey_bg blog_home webstories">
  <div class="container">
    <h1 class="section-header__title text-center">
<img src="/media/images/Icon File-01.png" alt="Blog_Icon"> Web Stories
      <img src="/media/images/Icon File-02.png" alt="Blog_Icon">
    </h1>    


        <div class="stories_list">


          {%for i in stories%}
          <div class="card-xl-stretch me-md-6 data_ scroll-watch-in-view scroll-watch-ignore" data-scroll-watch="">
            <a class="d-block card-rounded position-relative mb-6" href="/webstories/{{i.thumnailtitle}}">
              <img src="/media/{{i.thumbnail}}" alt="stories-images" class="img-fluid rounded">
            </a>
          <div class="mt-3">
          <a href="/webstories/{{thumnailtitle}}" class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">{{i.thumnailtitle}}</a>
          <div class="fw-500">
          <a href="#" class="bloger-name text-gray-700 text-hover-primary">{{i.userid.username}}</a>
          <span class="text-muted">{{i.date}}</span>
          </div>
          </div>
          </div>
{%endfor%}
         

         

         

          


        </div>
     
      
    
     
  </div>
</section>



























    <script src="https://rawgit.com/edull24/ScrollWatch/v2.0.1/dist/ScrollWatch-2.0.1.min.js"></script>

    <script type="text/javascript">
      (function() {
    
    var addElements = function() {
  
      var txt = document.createTextNode('I am lazy and late to the party.');
      var el;
  
      el = document.createElement('.data_');
      el.appendChild(txt);
      document.body.appendChild(el);
      
      // If we want newly injected elements to be watched, refresh ScrollWatch. It will re-query the dom and start watching new elements.
      swInstance.refresh();
        
    };
    
    var swInstance = new ScrollWatch({
      watch: '.data_',
      infiniteScroll: true,
      infiniteOffset: 200,
      onInfiniteYInView: addElements
    });
    
  })();
  </script>

  

<script>


  function switchcart() {
    prebody.innerHTML=postbody.innerHTML;
    var x=document.getElementById("postbody");
    var y=document.getElementById("prebody");
  }






    function delwishlist(id){
      switchcart();
    
      $('#usercart').empty();
      $.ajax({
          type:'POST',
          url:'{% url "delmywhishlist" %}',
          data:
          {
            id:id,
            
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function(response){
            console.log("Rahul");
            console.log(response);
            for (var key in response){
              console.log("Lkey");
              console.log(key);
              console.log("Lenght of the response");
              console.log(response[key].length);
                
if (response[key].length===0){
  var html1="";
  html1+=`
  <div class="cart-empty-content d-block">
                <img src="{%static 'images/wish_empty.webp'%}" class="cart-empty-img" alt="wishlist_empty_img" loading="lazy">
                <p class="empty-heading">Wishlist  Empty add your Favourite Influencers ..</p>
                <p class="cart-choice">Your Cart is empty add Influencers to it Now </p>
                <a href="/" target="_blank" class="explore-celeb-btn">Explore Influencers</a>
              </div>
              `
              $('#usercart').append(html1);
            }
            else{



                      for (var i=0; i<response[key].length;i++)
                      {
                        console.log("values");
                        console.log(response[key][0]);
                        var html="";
                        html+=`
                        <div class="row m-0 fadeout-box full-cart-div">
                          <div class="cart-box d-flex flex-wrap">
                            <div class="row">
                              <div class="col-3 p-0">
                              <div class="celeb-cart enter-booking-details">
                                <a href="/influencer/`+response[key][i][8]+`">
                                  <img src="/media/`+response[key][i][5]+`" alt="image" class="celeb-cart-img img-fluid">
                                </a>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="celeb-cart-detail">
                                <h3 class="cart-celeb-name enter-booking-details">`+response[key][i][0]+`</h3>
                                <div class="celeb-occasion-detail occasion-bottom d-flex mt-2 enter-booking-details">
                                  <div class="cart-occasion">
                                    <p class="cart-subheading">`+response[key][i][2]+`</p>
                                  </div>
                                </div>
                                <div class="celeb-prize-sec d-flex">
                                  <p class="celeb-amount">`+response[key][i][1]+`</p>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="col-12 prime-applied-div">
                            <div class="coupen-code-sec">
                              <div class="coupen-code-div">
                                <p class="coupen-text">Starts from </p>
                                <p class="coupen-chip">₹`+response[key][i][3]+`</p>
                              </div>
                              <div class="coupen-prize-div">
                              <a href="javascript:checkwishlist(`+response[key][i][6]+`);"><img src="{%static 'images/Dustbin_Red.png'%}" alt="image" class="cart-delete-icon"></a>
                                </div>
                             
                            </div>
                          </div>
                         
                        </div>
                        `
                        $('#usercart').append(html);
                      }
                    }
                    }
          }
          })
        };
        
    function switchcart1() {
      prebody1.innerHTML=postbody2.innerHTML;
    }
  
    function delcart(id){
      switchcart1();
      
      $('#usercart3').empty();
      $.ajax({
          type:'POST',
          url:'{% url "delmycart" %}',
          data:
          {
            id:id,
           
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function(response){
            console.log("Rahul");
            console.log(response);
                  for (var key in response){
              console.log("Lkey");
              console.log(key);
              console.log("Lenght of the response");
              console.log(response[key].length);
             
              if (response[key].length===0){
                var html1="";
                html1+=`
                <div class="cart-empty-content d-block">
                  <img src="{%static 'images/cart_empty.webp'%}" class="cart-empty-img" alt="cart_empty_img" loading="lazy">
                  <p class="empty-heading">Cart Empty add Influencers ..</p>
                  <p class="cart-choice">Your Cart is empty add Influencers to it Now </p>
                  <a href="/" target="_blank" class="explore-celeb-btn">Add Influencers</a>
                </div>
                            `
                            $('#usercart3').append(html1);
                          }
                          else{


                      for (var i=0; i<response[key].length;i++)
                      {
                        console.log("values");
                        console.log(response[key][0]);
                        var html="";
                        html+=`
                        <div class="row m-0 fadeout-box full-cart-div">
                          <div class="cart-box d-flex flex-wrap">
                            <div class="row">
                              <div class="col-3 p-0">
                              <div class="celeb-cart enter-booking-details">
                                <a href="/influencer/`+response[key][i][8]+`">
                                  <img src="/media/`+response[key][i][5]+`" alt="image" class="celeb-cart-img img-fluid">
                                </a>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="celeb-cart-detail">
                                <h3 class="cart-celeb-name enter-booking-details">`+response[key][i][0]+`</h3>
                                <div class="celeb-occasion-detail occasion-bottom d-flex mt-2 enter-booking-details">
                                  <div class="cart-occasion">
                                    <p class="cart-subheading">`+response[key][i][2]+`</p>
                                  </div>
                                </div>
                                <div class="celeb-prize-sec d-flex justify-content-between align-items-center">
                                  
                                  <p class="celeb-amount">`+response[key][i][1]+`</p>
                                  <a href="/influencer/`+response[key][i][8]+`/" class="continue-btn mt-2">Continue</a>
                                  
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="col-12 prime-applied-div">
                            <div class="coupen-code-sec">
                              <div class="coupen-code-div">
                                <p class="coupen-text">Starts from </p>
                                <p class="coupen-chip">`+response[key][i][6]+` `+response[key][i][3]+`</p>
                              </div>
                              <div class="coupen-prize-div">
              <a href="javascript:delcart(`+response[key][i][7]+`);"><img src="{%static 'images/Dustbin_Red.png'%}" alt="image" class="cart-delete-icon"></a>
                                </div>
                            </div>
                          </div>
                        </div>
                        `
                        $('#usercart3').append(html);
                      }
                     
                    }
                  }
    
          }
          })
        };
  
  
  
      </script>

    
{% endblock  %}
