{% extends 'KYC/index.html' %}
 {% load static %}
{% block title%} 
<title>Influencer Hiring | Bank-Details</title>
 {% endblock %}
 
 {%block sidebar%}
 <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
   <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
     <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
       <div class="menu-item"> <a class="menu-link " href="/kyc-dashboard/"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
           <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
           <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
           <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
           <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
         </svg>
         </span> </span> <span class="menu-title">Dashboards</span> </a> </div> 
 
 <!--begin:Menu item-->
 <div class="menu-item pt-5">
 <!--begin:Menu content-->
   <div class="menu-content">
     <span class="menu-heading fw-bold text-uppercase fs-7">Pages</span>
   </div>
   <!--end:Menu content-->
   </div>
 <!--end:Menu item-->
        
   
 
 <div data-kt-menu-trigger="click" class="menu-item menu-accordion"> <span class="menu-link"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M20 7H3C2.4 7 2 6.6 2 6V3C2 2.4 2.4 2 3 2H20C20.6 2 21 2.4 21 3V6C21 6.6 20.6 7 20 7ZM7 9H3C2.4 9 2 9.4 2 10V20C2 20.6 2.4 21 3 21H7C7.6 21 8 20.6 8 20V10C8 9.4 7.6 9 7 9Z" fill="currentColor" />
           <path opacity="0.3" d="M20 21H11C10.4 21 10 20.6 10 20V10C10 9.4 10.4 9 11 9H20C20.6 9 21 9.4 21 10V20C21 20.6 20.6 21 20 21Z" fill="currentColor" />
         </svg>
         </span> </span> <span class="menu-title">Users KYC</span><span class="menu-arrow"></span></span>
         <div class="menu-sub menu-sub-accordion">
          <div class="menu-item"> <a class="menu-link" href="/brand-kyc-request/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Brands KYC Request</span></a></div>
          <div class="menu-item"> <a class="menu-link" href="/pending-kyc-request/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Creators KYC Request</span></a></div>
          <div class="menu-item"> <a class="menu-link" href="/completed-brand-kyc/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Completed Brand KYC</span></a></div>
			    <div class="menu-item"> <a class="menu-link" href="/completed-kyc-request/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Completed Creator KYC</span></a></div>
           
         </div>
       </div>
 <!--begin:Menu item-->
 <div data-kt-menu-trigger="click" class="menu-item show menu-accordion">
 <!--begin:Menu link-->
 <span class="menu-link">
   <span class="menu-icon">
     <!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
     <span class="svg-icon svg-icon-2">
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z" fill="currentColor" />
         <path opacity="0.3" d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z" fill="currentColor" />
       </svg>
     </span>
     <!--end::Svg Icon-->
   </span>
   <span class="menu-title">Users</span>
   <span class="menu-arrow"></span>
 </span>
 <!--end:Menu link-->
 <!--begin:Menu sub-->
 <div class="menu-sub menu-sub-accordion">
   <!--begin:Menu item-->
   <div class="menu-item">
     <!--begin:Menu link-->
     <a class="menu-link" href="/brands-lists/">
       <span class="menu-bullet">
         <span class="bullet bullet-dot"></span>
       </span>
       <span class="menu-title">Brands</span>
     </a>
     <!--end:Menu link-->
   </div>
   <!--end:Menu item-->
   
   <!--begin:Menu item-->
   <div class="menu-item">
     <!--begin:Menu link-->
     <a class="menu-link" href="/clients-lists/">
       <span class="menu-bullet">
         <span class="bullet bullet-dot"></span>
       </span>
       <span class="menu-title">Clients</span>
     </a>
     <!--end:Menu link-->
   </div>
   <!--end:Menu item-->
   
   <!--begin:Menu item-->
   <div class="menu-item">
     <!--begin:Menu link-->
     <a class="menu-link" href="/creators-lists/">
       <span class="menu-bullet">
         <span class="bullet bullet-dot"></span>
       </span>
       <span class="menu-title">Creaters</span>
     </a>
     <!--end:Menu link-->
   </div>
   <!--end:Menu item-->
 </div>
 <!--end:Menu sub-->
 </div>
 <!--end:Menu item-->
 
 
       <div data-kt-menu-trigger="click" class="menu-item menu-accordion"> <span class="menu-link"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z" fill="currentColor"></path>
           <path opacity="0.3" d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z" fill="currentColor"></path>
         </svg>
         </span> </span> <span class="menu-title">My Profile</span><span class="menu-arrow"></span></span>
         <div class="menu-sub menu-sub-accordion">
           <div class="menu-item"> <a class="menu-link" href="/profile-settings/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Profile Setting</span></a></div>
         </div>
       </div>
 
 <div data-kt-menu-trigger="click" class="menu-item menu-accordion"> <span class="menu-link"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M20 19.725V18.725C20 18.125 19.6 17.725 19 17.725H5C4.4 17.725 4 18.125 4 18.725V19.725H3C2.4 19.725 2 20.125 2 20.725V21.725H22V20.725C22 20.125 21.6 19.725 21 19.725H20Z" fill="currentColor"></path>
             <path opacity="0.3" d="M22 6.725V7.725C22 8.325 21.6 8.725 21 8.725H18C18.6 8.725 19 9.125 19 9.725C19 10.325 18.6 10.725 18 10.725V15.725C18.6 15.725 19 16.125 19 16.725V17.725H15V16.725C15 16.125 15.4 15.725 16 15.725V10.725C15.4 10.725 15 10.325 15 9.725C15 9.125 15.4 8.725 16 8.725H13C13.6 8.725 14 9.125 14 9.725C14 10.325 13.6 10.725 13 10.725V15.725C13.6 15.725 14 16.125 14 16.725V17.725H10V16.725C10 16.125 10.4 15.725 11 15.725V10.725C10.4 10.725 10 10.325 10 9.725C10 9.125 10.4 8.725 11 8.725H8C8.6 8.725 9 9.125 9 9.725C9 10.325 8.6 10.725 8 10.725V15.725C8.6 15.725 9 16.125 9 16.725V17.725H5V16.725C5 16.125 5.4 15.725 6 15.725V10.725C5.4 10.725 5 10.325 5 9.725C5 9.125 5.4 8.725 6 8.725H3C2.4 8.725 2 8.325 2 7.725V6.725L11 2.225C11.6 1.925 12.4 1.925 13.1 2.225L22 6.725ZM12 3.725C11.2 3.725 10.5 4.425 10.5 5.225C10.5 6.025 11.2 6.725 12 6.725C12.8 6.725 13.5 6.025 13.5 5.225C13.5 4.425 12.8 3.725 12 3.725Z" fill="currentColor"></path>
           </svg>
         </span> </span> <span class="menu-title">Blogs</span><span class="menu-arrow"></span></span>
         <div class="menu-sub menu-sub-accordion">
           <div class="menu-item"> <a class="menu-link" href="/blogshome/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Blog</span></a></div>
   <div class="menu-item"> <a class="menu-link" href="/blogs-comments/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Blogs Review</span></a></div>
         </div>
       </div>
 
 <div data-kt-menu-trigger="click" class="menu-item menu-accordion"> <span class="menu-link"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path opacity="0.3" d="M7 20.5L2 17.6V11.8L7 8.90002L12 11.8V17.6L7 20.5ZM21 20.8V18.5L19 17.3L17 18.5V20.8L19 22L21 20.8Z" fill="currentColor"></path>
             <path d="M22 14.1V6L15 2L8 6V14.1L15 18.2L22 14.1Z" fill="currentColor"></path>
           </svg>
         </span> </span> <span class="menu-title">Review & Comments</span><span class="menu-arrow"></span></span>
         <div class="menu-sub menu-sub-accordion">
           <div class="menu-item"> <a class="menu-link" href="/platform-review/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Platform Review</span></a></div>
   <div class="menu-item"> <a class="menu-link" href="/blogs-comments/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Blogs Review</span></a></div>
   <div class="menu-item"> <a class="menu-link" href="/influencer-review/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Influencer Review</span></a></div>
         </div>
       </div>
 
       <div data-kt-menu-trigger="click" class="menu-item menu-accordion"> <span class="menu-link"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
         <span class="svg-icon svg-icon-2">
             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M13 5.91517C15.8 6.41517 18 8.81519 18 11.8152C18 12.5152 17.9 13.2152 17.6 13.9152L20.1 15.3152C20.6 15.6152 21.4 15.4152 21.6 14.8152C21.9 13.9152 22.1 12.9152 22.1 11.8152C22.1 7.01519 18.8 3.11521 14.3 2.01521C13.7 1.91521 13.1 2.31521 13.1 3.01521V5.91517H13Z" fill="currentColor"></path>
                 <path opacity="0.3" d="M19.1 17.0152C19.7 17.3152 19.8 18.1152 19.3 18.5152C17.5 20.5152 14.9 21.7152 12 21.7152C9.1 21.7152 6.50001 20.5152 4.70001 18.5152C4.30001 18.0152 4.39999 17.3152 4.89999 17.0152L7.39999 15.6152C8.49999 16.9152 10.2 17.8152 12 17.8152C13.8 17.8152 15.5 17.0152 16.6 15.6152L19.1 17.0152ZM6.39999 13.9151C6.19999 13.2151 6 12.5152 6 11.8152C6 8.81517 8.2 6.41515 11 5.91515V3.01519C11 2.41519 10.4 1.91519 9.79999 2.01519C5.29999 3.01519 2 7.01517 2 11.8152C2 12.8152 2.2 13.8152 2.5 14.8152C2.7 15.4152 3.4 15.7152 4 15.3152L6.39999 13.9151Z" fill="currentColor"></path>
             </svg>
         </span>
                 </span> </span> <span class="menu-title">Webstories</span><span class="menu-arrow"></span></span>
                 <div class="menu-sub menu-sub-accordion">
           <div class="menu-item"> <a class="menu-link" href="/webstories-approval/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title">Webstories</span></a></div>
                 </div>
               </div>
 
 
 <div data-kt-menu-trigger="click" class="menu-item menu-accordion"> <span class="menu-link"> <span class="menu-icon"> <span class="svg-icon svg-icon-2">
 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M13.0021 10.9128V3.01281C13.0021 2.41281 13.5021 1.91281 14.1021 2.01281C16.1021 2.21281 17.9021 3.11284 19.3021 4.61284C20.7021 6.01284 21.6021 7.91285 21.9021 9.81285C22.0021 10.4129 21.5021 10.9128 20.9021 10.9128H13.0021Z" fill="currentColor"></path>
   <path opacity="0.3" d="M11.0021 13.7128V4.91283C11.0021 4.31283 10.5021 3.81283 9.90208 3.91283C5.40208 4.51283 1.90209 8.41284 2.00209 13.1128C2.10209 18.0128 6.40208 22.0128 11.3021 21.9128C13.1021 21.8128 14.7021 21.3128 16.0021 20.4128C16.5021 20.1128 16.6021 19.3128 16.1021 18.9128L11.0021 13.7128Z" fill="currentColor"></path>
   <path opacity="0.3" d="M21.9021 14.0128C21.7021 15.6128 21.1021 17.1128 20.1021 18.4128C19.7021 18.9128 19.0021 18.9128 18.6021 18.5128L13.0021 12.9128H20.9021C21.5021 12.9128 22.0021 13.4128 21.9021 14.0128Z" fill="currentColor"></path>
         </svg>
         </span> </span> <span class="menu-title">Casting Call</span><span class="menu-arrow"></span></span>
         <div class="menu-sub menu-sub-accordion">
           <div class="menu-item"> <a class="menu-link" href="/all-castingcall/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title"> New Casting Call</span></a></div>
   <div class="menu-item"> <a class="menu-link" href="/active-castingcall/"><span class="menu-bullet"><span class="bullet bullet-dot"></span> </span> <span class="menu-title"> Active Casting Call</span></a></div>
         </div>
       </div>
     </div>
   </div>
 </div>
 {%endblock%}

 {% block body %} 
  <!--begin::Main-->
  <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
      <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
          <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Bank-Details</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
              <!--begin::Item-->
              <li class="breadcrumb-item text-muted">
                <a href="/Influencer-Dashboard/" class="text-muted text-hover-primary">Home</a>
              </li>
              <!--end::Item-->
              <!--begin::Item-->
              <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
              </li>
              <!--end::Item-->
              <!--begin::Item-->
              <li class="breadcrumb-item text-muted">User Profile</li>
              <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
          </div>
          <!--end::Page title-->
          <!--begin::Actions-->
          <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
      </div>
      <!--end::Toolbar-->
      <!--begin::Content-->
      <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container container-fluid">
          <!--begin::Navbar-->
          
          <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
              <!--begin::Card title-->
              <div class="card-title m-0 mt-5">
                <h3 class="fw-bold m-0">Bank Details</h3>
              </div>
              <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
              <!--begin::Form-->
              <form class="form" method="post" action="" enctype="multipart/form-data">
                 {%csrf_token%}
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                  <div class="row">
                    <!--begin::Input group-->
                    <div class="col-lg-6">
                      <!--begin::Label-->
                      <!--begin::Label-->
                      <label class="col-lg-6 col-form-label required fw-semibold fs-6">Account Holder's Name</label>
                      <!--end::Label-->
                      <!--end::Label-->
                      <div class="col-lg-11 fv-row">
                        <input type="text" id="input1" name="accountname" class="form-control form-control-lg form-control-solid" placeholder="{{account.account_name}}" value="" />
                      </div>
                    </div>
                    <!--end::Input group-->
                    <div class="col-lg-6">
                      <!--begin::Label-->
                      <label class="col-lg-4 col-form-label required fw-semibold fs-6">Account No.</label>
                      <!--end::Label-->
                      <!--begin::Col-->
                      <div class="col-lg-11 fv-row">
                        <input type="text" id="input2" name="accountno" class="form-control form-control-lg form-control-solid" placeholder="{{accnum}}" value="" />
                      </div>
                      <!--end::Col-->
                    </div>
                    <div class="col-lg-6">
                      <!--begin::Label-->
                      <label class="col-lg-4 col-form-label required fw-semibold fs-6">Bank Name</label>
                      <!--end::Label-->
                      <!--begin::Col-->
                      <div class="col-lg-11 fv-row">
                        <input type="text" id="input3" name="bankname" class="form-control form-control-lg form-control-solid" placeholder="{{account.bankname}}" value="" />
                      </div>
                      <!--end::Col-->
                    </div>
                    <div class="col-lg-6">
                      <!--begin::Label-->
                      <label class="col-lg-4 col-form-label required fw-semibold fs-6">Branch IFSC Code</label>
                      <!--end::Label-->
                      <!--begin::Col-->
                      <div class="col-lg-11 fv-row">
                        <input type="text" id="input4" name="branchcode" class="form-control form-control-lg form-control-solid" placeholder="{{account.ifsc_codes}}" value="" />
                      </div>
                      <!--end::Col-->
                    </div>
                    <!--begin::Input group-->
                    <div class="mb-6 col-lg-6">
                      <!--begin::Label-->
                      <label class="col-lg-6 col-form-label fw-semibold fs-6 required">Pan Card / Tax i'd</label>
                      <div class="col-lg-6 edit_button_section">
                        <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('{%static 'asset/media/svg/avatars/blank.svg'%}')">
                          <div class="image-input-wrapper w-300px h-200px" id="myDiv3" style="background-image: url('/media/{{pan.documentpath}}')"></div>
                          <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <input type="file" name="pan" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                          </label>
                          <span class="btn btn-icon edit_button btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                        </div>
                        <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                      </div>
                      
                      {% if pan.dockyc == True %} 
                      <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-primary mt-2">Verified</a>
                      </div> {%else%} <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-danger mt-2">Not Verified</a>
                      </div> {%endif%}
                      
                      
                     
                    </div>
                    <div class=" mb-6 col-lg-6">
                      <label class="col-lg-6 col-form-label fw-semibold fs-6 required">Aadhar Card / Driving Licence</label>
                      <div class="col-lg-6 edit_button_section">
                        <!--begin::Image input-->
                        <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('{%static 'asset/media/svg/avatars/blank.svg'%}')">
                          <!--begin::Preview existing avatar-->
                          <div class="image-input-wrapper w-300px h-200px" id="myDiv2" style="background-image: url('/media/{{addhar.documentpath}}')"></div>
                          <!--end::Preview existing avatar-->
                          <!--begin::Label-->
                          <label class="btn edit_button btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--begin::Inputs-->
                            <input type="file" name="aadhar" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                          </label>
                          <!--end::Label-->
                          <!--begin::Cancel-->
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <!--end::Cancel-->
                          <!--begin::Remove-->
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Hint-->
                        <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                        <!--end::Hint-->
                      </div> {% if addhar.dockyc == True %} 
                      <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-primary mt-2">Verified</a>
                      </div> {%else%} <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-danger mt-2">Not Verified</a>
                      </div> {%endif%}
                    </div>
                    <div class=" mb-6 col-lg-6 edit_button_section">
                      <label class="col-lg-6 col-form-label fw-semibold fs-6 required">Cancel Cheque Copy / Passbook</label>
                      <div class="col-lg-6">
                        <!--begin::Image input-->
                        <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('{%static 'asset/media/svg/avatars/blank.svg'%}')">
                          <!--begin::Preview existing avatar-->
                          <div class="image-input-wrapper w-300px h-200px" id="myDiv4" style="background-image: url('/media/{{cancel.documentpath}}')"></div>
                          <!--end::Preview existing avatar-->
                          <!--begin::Label-->
                          <label class="btn edit_button btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--begin::Inputs-->
                            <input type="file" name="cancel" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                          </label>
                          <!--end::Label-->
                          <!--begin::Cancel-->
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <!--end::Cancel-->
                          <!--begin::Remove-->
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Hint-->
                        <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                        <!--end::Hint-->
                      </div> 
                      {% if cancel.dockyc == True %} 
                      <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-primary mt-2">Verified</a>
                      </div> {%else%} <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-danger mt-2">Not Verified</a>
                      </div> {%endif%}
                     
                    </div>
                    <div class=" mb-6 col-lg-6">
                      <label class="col-lg-4 col-form-label fw-semibold fs-6 required">Passport Copy {{pass.documentpath}}</label>
                      <div class="col-lg-6 edit_button_section">
                        <!--begin::Image input-->
                        <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('{%static 'asset/media/svg/avatars/blank.svg'%}')">
                          <!--begin::Preview existing avatar-->
                          <div class="image-input-wrapper w-300px h-200px" id="myDiv5" style="background-image: url('/media/{{pass.documentpath}}')"></div>
                          <!--end::Preview existing avatar-->
                          <!--begin::Label-->
                          <label class="btn edit_button btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--begin::Inputs-->
                            <input type="file" name="passport" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                          </label>
                          <!--end::Label-->
                          <!--begin::Cancel-->
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <!--end::Cancel-->
                          <!--begin::Remove-->
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                          </span>
                          <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Hint-->
                        <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                        <!--end::Hint-->
                      </div>{% if pass.dockyc == True %} 
                      <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-primary mt-2">Verified</a>
                      </div> {%else%} <div class="col-lg-6">
                        <a href="#" class="btn btn-sm fw-bold btn-danger mt-2">Not Verified</a>
                      </div> {%endif%}
                    </div>
                  </div>
                  <div class="card-footer d-flex justify-content-end pt-6 pb-0 px-9">
                    <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                    <button type="submit" class="btn btn-success" id="kt_account_profile_details_submit" name="verifieduserid" value="{{pass.usersid}}"  >Verified Here</button>
                  </div>
                  <!--end::Actions-->
              </form>
              <!--end::Form-->
            </div>
            <!--end::Content-->
          </div>
        </div>
      </div>
    </div>
  </div>


<script>

  function updatenotificanblink(status) {
    var notificatoinblinkcontainer = document.getElementById('notification-blink')
    var notiblinkobj = document.getElementById('notification-unread-blink')
    var notiblink = `<span id="notification-unread-blink" class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>`
    if (status === true && notiblinkobj === null) {
      notificatoinblinkcontainer.insertAdjacentHTML('beforeend', notiblink)
    } else {
      if (status === false && notiblinkobj === null) {
        notiblinkobj.remove()
      }
    }
  }
  
  //// start js for inapp notifications
  
  var notificationcontainer = document.getElementById('kt_topbar_notifications_1')
  console.log('This is container---', notificationcontainer)
  
  var notificationbutton = document.getElementById('notificatonbutton')
  console.log('this is notification button', notificationbutton)
  
  //notificationbutton.addEventListener('click', updatenotificationreadstatus());
  window.onload = getnotificationdata();
  function updatenotificationreadstatus() {
    fetch('/updatenotificatoinreadstatus/',{
      method:'GET'
    })
    .then(response => {
      return response.json();
    })
    .then(data => {console.log(data);})
  }
  
  //add or remove 
  
  function getnotificationdata() {
    fetch('/updatenotificationdata/',{
    method:"GET"})
    .then(response => {
      return response.json();
    })
    .then(data => {console.log(data);
      updatenotificanblink(data.unread_status)
      var notificationcontainer = document.getElementById('notificationcontainer')
      notificationcontainer.innerHTML = '';
    for (var data of data.data) {
      additeminnotificationcontainer(data)
      }})
    .catch(error => console.error('not getting the data of latest notification', error));
  }
  
  
  function additeminnotificationcontainer(data) {
    console.log('ABCD')
    var notificationcontainer = document.getElementById('notificationcontainer')
    console.log('A BIYSATCVH',notificationcontainer)
      var elementofhtml = `<!--begin::Item-->
              <div class="d-flex flex-stack py-4">
                <!--begin::Section-->
                <div class="d-flex align-items-center">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-35px me-4">
                    ${data['icon']}
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Title-->
                  <div class="mb-0 me-2">
                    <a href="/${data['redirect_link']}/" class="fs-6 text-gray-800 text-hover-primary fw-bold">${data['title']}</a>
                    <div class="text-gray-400 fs-7">${data['message']}</div>
                  </div>
                  <!--end::Title-->
                </div>
                <!--end::Section-->
                <!--begin::Label-->
                <span class="badge badge-light fs-8">${formatTimeAgotoutc(data['timestamp'])}</span>
                <!--end::Label-->
              </div>
              <!--end::Item-->`
      notificationcontainer.insertAdjacentHTML('afterbegin', elementofhtml);
  }
  
  function formatTimeAgotoutc(timestamp) {
          // Parse the timestamp to create a Luxon DateTime object
          const dateTime = luxon.DateTime.fromISO(timestamp);
  
          // Get the current time in the user's local timezone
          const currentTime = luxon.DateTime.local();
  
          // Check if the timestamp is from today
          const isToday = dateTime.hasSame(currentTime, 'day');
  
          if (!isToday) {
              // Format the date in dd/mm/yy format
              const formattedDate = dateTime.toFormat('dd/MM/yy');
  
              // Format the time in hh:mm AM/PM format
              const formattedTime = dateTime.toFormat('hh:mm a');
  
              return `${formattedDate}`;
          } else {
              // Format the time in hh:mm AM/PM format
              const formattedTime = dateTime.toFormat('hh:mm a');
  
              return formattedTime;
          }
      }
  
  
  
  //// end js for inapp notifications scroll-y mh-325px my-5
    // file uploading functionality
  
    /// function to make true cancle upload
          function stopFileUpload() {
            stopUpload = true;
          }
  
          let stopUpload = false;
          //////// end calncel uplaod...
            
          //// add and remove progress bar start
  
  function addorremoveprogressbar() {
  
    var progressbar = `<div id="fileprogressbar" class="progress my-5">
              <div id="updatebar" class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 0%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">0%</div>
              <a href="javascript:void(0);" class="delete_btn text-hover-primary p-0" onclick="stopFileUpload()">x</a>
              </div>`
  
    var progressbaritemcontainer = document.getElementById('fileprogresscontainer')
  
    var progressbaritemindom = document.getElementById('fileprogressbar')
  
    if (progressbaritemindom !== null) {
      progressbaritemindom.remove()
      stopUpload = false;
    } else {
      progressbaritemcontainer.insertAdjacentHTML('beforeend', progressbar)
    }
  }
  
  ///// add and remove progress bar end
  //// update progress bar start
  
  function updateprogressbartodom(precent) {
    var progressbaritemindom = document.getElementById('updatebar')
  
    progressbaritemindom.style.width = precent + '%';
      progressbaritemindom.textContent = precent + '%';
      progressbaritemindom.setAttribute('aria-valuenow', precent);
    
    
  }
  
  /// update progress bar end
  
            document.getElementById('fileUploader').addEventListener('click', openDialog);
  
            function openDialog() {
              if (channel) {
                document.getElementById('fileUploaderInput').click();
              }
            }
  
            document.getElementById('fileUploaderInput').addEventListener('change', function () {
              //console.log('ABCD')
              let stopUpload = false;
              var fileInput = document.getElementById('fileUploaderInput');
              var file = fileInput.files[0];
              fileInput.value = '';
              console.log('file', file)
              console.log('getting here A!!')
              fetch('/chat-file-upload/', {
                method: 'POST',
                body: JSON.stringify({
                  filename: file.name,
                  contentType: file.type,
                  channel: channel['channelId']
                }),
                headers: {
                  'Content-Type': 'application/json'
                }
              })
                .then(response => response.json())
                .then(data => {
                  console.log(data.signedUrl)
                  uploadfiletogcschunking(file, data.signedUrl);
                  addorremoveprogressbar();
                })
                .catch(error => {
                  console.log('unable to get signedURL!!', error);
                });
  
  
            });
            // upload abort
            // Create an AbortController instance
            const abortController = new AbortController();
  
            // Create an AbortSignal from the AbortController
            const abortSignal = abortController.signal;
  
            // cancle file upload
            function cancelFileUpload() {
              abortSignal.abort();
            }
            // upload data by chunking progress
  
  
            function uploadfiletogcschunking(file, signedUrl) {
              var strem = file.stream({ locked: false });
              console.log('this is strem---', strem);
              var reader = strem.getReader();
              console.log('this is reader---', reader);
              let bytesuploaded = 0;
              let totalBytes = file.size;
  
              function uploadchunk() {
                reader.read().then(({ value, done }) => {
                  //console.log('thhi is the value',value)
                  //console.log('this is the done check',done)
                  //reader.cancel()
                  if (done) {
                    console.log('file uploaded sucessfully!');
                    const splites = signedUrl.split('/')[5].split('?')[0]
                    //console.log(splites)
                    getdownloadableurl(splites);
                    addorremoveprogressbar();
                    //alert(`file uploaded : ${totalBytes}`);
                    return;
                  }
                  fetch(signedUrl, {
                    method: 'PUT',
                    body: value,
                    headers: {
                      'Content-Type': file.type,
                    },
                  })
                    .then(response => {
                      if (response.ok) {
                        bytesuploaded += value.byteLength;
                        const percentComplete = parseInt((bytesuploaded / totalBytes) * 100);
                        console.log(`upload progress: ${percentComplete}%`);
                        updateprogressbartodom(percentComplete)
                        if (stopUpload === true) {
                          console.log('gettin here BBbbBBBB!!!!!')
                          console.log('canclled the uploading!!')
                          addorremoveprogressbar();
                          return;
                        } else {
                          console.log('gettin here AAaaAAAA!!!!!')
                          uploadchunk();
                        }
                      } else {
                        console.error('file upload failed!!', response.statusText);
                      }
                    })
                    .catch(error => {
                      console.error('File Upload Error', error);
                    });
                });
              }
              uploadchunk();
  
            }
            function getdownloadableurl(fileName) {
              console.log(fileName)
              foldername = channel['channelId']
              console.log(foldername)
              fetch('/get-file-download-url/' + fileName + '/' + foldername,{
                method: 'GET',
              })
                .then(response => response.json())
                .then(data => {
                  console.log(data.download_url);
                  if (data.download_url !== '') {
                    submitData(data.download_url, ChatuserName)
                  }
                })
  
            }
  
            //end file uploading functionlity
    
    ///// RM chat js start
      const APP_ID = "4e226a8c0c724e20aab4e504951a33eb"
      const token = null
      //{% comment %} '2c329178083c4d4492ec7abe11949e00' {% endcomment %}
      const uid = String(Math.floor(Math.random() * 232 ))
      console.log('uid below')
      console.log(uid);
      var ChatuserName = "{{request.user.username}}"
      console.log(ChatuserName)
      
      ///////
      
      let iniateRTM = async (channel_name) => {
      if (typeof client === 'undefined') {
      client = await AgoraRTM.createInstance(APP_ID);
      await client.login({ uid, token });
      }
      
      if (typeof channel !== 'undefined') {
        channel.leave();
        channel = await client.createChannel(channel_name);
      await channel.join();
      } else {
      channel = await client.createChannel(channel_name);
      await channel.join();
      }
      
      channel.on('ChannelMessage', (message, peerId) => {
        post = JSON.parse(message.text);
        console.log('this is the post on recive', post)
        console.log("sidhfiuohjiodfoihoiiohsadhoihsd this  is  posthuhuih" + peerId);
        addMessageToDom(post);
        //AddMessageAndTime(post)
      });
      //console.clear();
      };
  
      //   setInterval(getunreadstatus, 5000);
  
  function getunreadstatus() {
    fetch('/get-unread-status/',{
    method: 'POST',
      headers: {
      'Content-Type': 'application/json',
      }
  })
  .then(response => response.json())
  .then(data => {
    console.log('this is the data:---',data)
    chatBlinkadd(data.status)
   })
  .catch(error => {
     console.log('These are error',error)
   });
  }
  
  window.addEventListener('resize', function() {
    reduceheightofchatbody()
      let chatContainer = document.getElementById('kt_drawer_chat_messenger_body');
      console.log('bijioahsdiofhioah----')
      document.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM is fully loaded');
    reduceheightofchatbody()
  });
      //chatContainer.style.maxHeight = window.innerHeight * 0.8 + 'px';  // 80% of viewport height
  });
  
  document.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM is fully loaded');
    reduceheightofchatbody()
  });
  
  
  function reduceheightofchatbody() {
  var chatWindow = document.getElementById('kt_drawer_chat_messenger_body')
        var heightofwindow = chatWindow.style.height
        let newheight = parseInt(heightofwindow, 10) - 65;
        chatWindow.style.height = newheight + 'px'
        console.log('This is container style i want to see---',heightofwindow)
        console.log('new height is here---',newheight)
      }
  
  function chatBlinkadd(status) {
    var chatButton = document.getElementById('kt_drawer_chat_toggle')
    var chatBlink = document.getElementById('unread-blink');
    if (status === true && chatBlink === null) {
      let chatBlinkHtml = `<span id="unread-blink" class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>`
      chatButton.insertAdjacentHTML('beforeend', chatBlinkHtml)
    }
  }
      
      const chatButton = document.getElementById('kt_drawer_chat_toggle')
      
      chatButton.addEventListener('click', handleClick);
      
  
      function handleClick(event) {
        let channel_name = "{{channel_name}}";
        if (channel_name !== 'None') {
        var clickedElement = event.target;
      console.log(clickedElement);
      console.log(ChatuserName);
      //reduceheightofchatbody()
      iniateRTM(channel_name);
      getRmChat(channel_name);
      var chatBlink = document.getElementById('unread-blink');
      if (chatBlink !== null) {
        chatBlink.remove()
      }
      }
      }
      
      
      var chatDOM = document.getElementById('kt_drawer_chat')
      console.log(chatDOM)
      console.log('This is the status of unread script',"{{unread_status}}");
      
      /// get chat data
      
      function getRmChat(channel_name) {
        fetch('/get-RM-chat/', {
          method: 'POST',
          headers: {
          'Content-Type': 'application/json'
          },
          body: JSON.stringify({
          'name': ChatuserName,
          'channel': channel_name
          })
        })
          .then(response => {
          console.log('A');
          //console.log(response);
          return response.json();
          })
          .then(data => {
          // Process the response data here
          console.log(data);
          postList.innerHTML = '';
          AddRMuserName(data['RM']);
        if (data['data'].length !== 0) {
          
        for (var msg of data["data"]) {
          addMessageToDom(msg);
        }
        }else{
        // Step 1: Get a reference to the HTML tag
        let container = document.getElementById('kt_drawer_chat_messenger_body');
      
        // Step 2: Create a new <div> element
        let divElement = document.createElement('div');
      
        // Step 3: Set height and width
        divElement.style.height = '400px';
        divElement.style.width = '400px';
        divElement.textContent = "your chat will be shown here!!";
        // Step 4: Append the <div> element to the container
        container.appendChild(divElement);
      
        }
          })
          .catch(error => {
          // Handle any errors here
          console.error('Fetch error:', error);
          });
        }
      
      // end get chat data
      
      ////// add RMuserName
      
      function AddRMuserName(RMuser) {
        var RMuserNameElement = document.getElementById('RMuserName')
        RMuserNameElement.innerHTML = RMuser;
      }
      
      ///// end add RMuserName
      
      ///////////////////start send message button to send messages
      var sendButton = document.getElementById('kuchbhi');
      function buttonSendMessage() {
        //console.log("chanekjioajd : "+channel_name)
        var textarea = document.getElementById('input_textarea');
        var message = textarea.value;
        textarea.value = "";
        //console.log('submit buser', username);
        //console.log('message body :  '+message)
        if (message !== "") {
          console.log('B','senderName')
        submitData(message, ChatuserName);
        }
      };
      
      sendButton.addEventListener('click', buttonSendMessage);
      ////////////////////// end message button to send messages
      
      ////////////////////// start message submiting
      
      let submitData = async (bodyText,senderName) => {
        var channel_name = channel['channelId']
        console.log(channel_name)
          let response = await fetch('/single-chat-add/', {
              method:'POST',
              headers:{
                  'Content-Type':'application/json'
              },
              body:JSON.stringify({'body':bodyText, 'sender':senderName, 'channel':channel_name})
          })
      
          let data = await response.json()
          data['sender'] = senderName
      
        //console.log('after username', username);
      
      
          channel.sendMessage({text:JSON.stringify(data), type:'text'})
          console.log('Data:', data )
          addMessageToDom(data)
        //AddMessageAndTime(data)
      };
      
      ////////////////////// end message submit
      
  
      
      let postList = document.getElementById('kt_drawer_chat_messenger_body')
      
      let addMessageToDom  = async (message) => {
        
      
        let timeSince = new Intl.RelativeTimeFormat('en')
      
        let messageTime = new Date(message['created'])
      
          let diff = new Date() - new Date(messageTime)
          let ago = timeSince.format(- diff/(1000*60*60*24), 'seconds')
          
          if (message['sender'] === "{{request.user.username}}"){
            var post_wrapper = `<!--begin::Message(out)-->
            <div class="d-flex justify-content-end mb-10">
              <!--begin::Wrapper-->
              <div class="d-flex flex-column align-items-end">
                <!--begin::User-->
                <div class="d-flex align-items-center mb-2">
                  <!--begin::Details-->
                  <div class="me-3">
                    <span class="text-muted fs-7 mb-1">${formatTimeAgo(messageTime)}</span>
                    <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-danger ms-1">You</a>
                  </div>
                  <!--end::Details-->
                  <!--begin::Avatar-->
                  <div class="symbol symbol-35px symbol-circle">
                    <span class="symbol-label bg-light-success text-success fs-6 fw-bolder" style="z-index: 0;">${message['sender'].slice(0,1).toUpperCase()}</span>
                    <!--<img alt="Pic" src="{%static 'asset/media/avatars/300-1.jpg'%}" />-->
                  </div>
                  <!--end::Avatar-->
                </div>
                <!--end::User-->
                <!--begin::Text-->
                <div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-end" data-kt-element="message-text">${ message['body'] }</div>
                <!--end::Text-->
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Message(out)-->`
          } else{ var post_wrapper = `
            <!--begin::Message(in)-->
                  <div class="d-flex justify-content-start mb-10">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start">
                      <!--begin::User-->
                      <div class="d-flex align-items-center mb-2">
                        <!--begin::Avatar-->
                        <div class="symbol symbol-35px symbol-circle">
                          <span class="symbol-label bg-light-success text-success fs-6 fw-bolder" style="z-index: 0;">${message['sender'].slice(0,1).toUpperCase()}</span>
                          <!--<img alt="Pic" src="{%static 'asset/media/avatars/300-25.jpg'%}" />-->
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Details-->
                        <div class="ms-3">
                          <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-danger me-1">${message['sender']}</a>
                          <span class="text-muted fs-7 mb-1">${formatTimeAgo(messageTime)}</span>
                        </div>
                        <!--end::Details-->
                      </div>
                      <!--end::User-->
                      <!--begin::Text-->
                      <div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start" data-kt-element="message-text">${ message['body'] }</div>
                      <!--end::Text-->
                    </div>
                    <!--end::Wrapper-->
                  </div>
                  <!--end::Message(in)-->`
          }
      
          postList.insertAdjacentHTML('beforeend', post_wrapper)
          postList.scrollIntoView(false);
          scrollToBottom()
          
        }
      
      function scrollToBottom() {
        var chatWindow = document.getElementById('kt_drawer_chat_messenger_body')
        console.log('just clicked it!!')
        chatWindow.scrollTop = chatWindow.scrollHeight;
        //const lastMessageforscroll = chatwindowforlastmsg.lastElementChild;
        //lastMessageforscroll.scrollIntoView({ behavior: 'smooth' });
      }
      
      function formatTimeAgo(timestamp) {
        const currentTime = new Date();
        const timeDifference = currentTime - timestamp;
        
        // Check if the timestamp is from today
        const isToday = timestamp.getDate() === currentTime.getDate() &&
          timestamp.getMonth() === currentTime.getMonth() &&
          timestamp.getFullYear() === currentTime.getFullYear();
        
        if (!isToday) {
          // Format the date in dd/mm/yy format
          const formattedDate = `${timestamp.getDate().toString().padStart(2, '0')}/${
          (timestamp.getMonth() + 1).toString().padStart(2, '0')}/${
          timestamp.getFullYear().toString().slice(-2)}`;
        
          // Format the time in hh:mm AM/PM format
          const formattedTime = `${timestamp.getHours() > 12 ? (timestamp.getHours() - 12) : timestamp.getHours()
          }:${timestamp.getMinutes().toString().padStart(2, '0')} ${
          timestamp.getHours() >= 12 ? 'PM' : 'AM'}`;
        
          return `${formattedDate} at ${formattedTime}`;
        } else {
          // Format the time in hh:mm AM/PM format
          const formattedTime = `${timestamp.getHours() > 12 ? (timestamp.getHours() - 12) : timestamp.getHours()
          }:${timestamp.getMinutes().toString().padStart(2, '0')} ${
          timestamp.getHours() >= 12 ? 'PM' : 'AM'}`;
        
          return formattedTime;
        }
        }
      </script>

      {%endblock%}  